.header {						
    border: 1px solid black;
    box-sizing: border-box;
    padding: 1px;
	Text-align:center;
    background-color:black;
    color:red;
    font-size: 140%;
    text-decoration: underline;
    border-right: 5px solid red;
    border-left: 5px solid red;
    border-top: 5px solid red;
	}

nav{
    width:100%;
    height:75px;    
    border-bottom: 6px solid red;
    border-top: 4px solid red;
    background-color:black;
}
.nav_item{
    width:25%;
    float:left;
    height: 100%;
    font-size: 50px;
    text-align: center;
    line-height:75px; 
    color:white;
}
.nav_item:hover{
    background-color: red;
    color:white;
}
.section {						
	border: 1px solid black;
	Float: left;
	box-sizing: border-box;
	padding: 15px;	
	width:100%;	
    background-color:rosybrown;
    border-bottom: 4px solid red;
    border-left: 5px solid red;
    border-right: 5px solid red;
}
.footer{
    border:1px solid blacK;
}
.bord{
    margin-left: 10%;
    margin-top: 5%;
    height: 280px;
    border: 4px solid red;
}
.mat{
    margin-left:40%;
    margin-top: 5%;
    height: 280px;
    border: 4px solid red;
}

.tider{
    margin-left:45%;
    margin-right: 45%;
    font-size: 20px;
    background-color:;
}
h2{
    font-size: 50px;
}
.opptider{
    font-size:35px;
}


.footer{
    background-color:black;
    color:white;
    border-bottom: 6px solid red;
    border-left: 3px solid red;
    border-right: 3px solid red;
}