body{
    margin: 0;
    padding: 0;
}
.header {						
    border: 1px solid black;
    box-sizing: border-box;
    padding: 1px;
	Text-align:center;
    background-color:black;
    color:red;
    font-size: 140%;
    text-decoration: underline;
    border-right: 5px solid red;
    border-left: 5px solid red;
    border-top: 5px solid red;
	}
nav{
    float:left;
    width:100%;
    height:75px;    
    border-bottom: 6px solid red;
    border-top: 4px solid red;
    background-color:black;
}

.admin_nav_item{
    margin-left: 38%;
    width:25%;
    float:left;
    height: 100%;
    font-size: 120%;
    text-align: center;
    line-height:75px; 
    color:white;
}
.admin_nav_item:hover {
    background-color: red;
    color:white;
}

.admin_nav{
       
}
.nav_item{
    margin-left: 38%;

}
.admin_section{
    background: maroon;
    height: 100vh;
    border-top: 1px solid red;
}
.nav_item{
    width:25%;
    float:left;
    height: 100%;
    font-size: 120%;
    text-align: center;
    line-height:75px; 
    color:white;
}
.nav_item:hover{
    background-color: red;
    color:white;
}
.section {						
	border: 1px solid black;
	box-sizing:border-box;
	padding: 0.5%;	
	width:100%;	
    background-color:rosybrown;
    border-bottom: 4px solid red;
    border-left: 5px solid red;
    border-right: 5px solid red;
}
#section_dishes{
    border: 1px solid black;
	box-sizing:border-box;
    float:left;
	padding: 0.5%;	
	width:100%;	
    background-color:rosybrown;
    border-bottom: 4px solid red;
    border-left: 5px solid red;
    border-right: 5px solid red; 
}
/* Startsida */

.recensioner_container{
    height: 250%;
}
.bord{
    margin-top: 2%;
    width:35%;
    border: 4px solid red;
}
.mat{
    margin-top: 2%;
    float:right;
    width:35%;
    border: 4px solid red;
}
.tider{
    font-size: 20px;
    text-align: center;
}
h2{
    font-size: 50px;
}
.opptider{
    font-size:;
    text-align: center;
}
.recension{
    border: 3px solid red;
}
.rec_recension{
    border-top: 2px solid black;
}
.footer{
    background-color:black;
    width: 100%;
    color:white;
    border-top: 1px solid red;
    border-bottom: 6px solid red;
    clear:both;
}
/* Maträtter Från DB */
.food_container{
    width:35%;
    height:35vh;
    background-color: white ;
    margin: 0.3%;
    float:left;
} 
.food_img{
    width:40%;
    float:right;
    } 
.food_name{
    font-size: 150%;
    text-align: center;
    font-family:italic;
}
.food_id{
    font-size: 150%;
    font-style: italic;
}
.food_price{
    font-size: 150%;
    color:red;
    text-align: center;
}    
.food_spicy{
    font-size: 150%;
    text-align: center;
}
.chili{
    width: 10%;
}
.milk {
    width: 10%;
    font-size: 150%;
    text-align: center;
}
.gluten, .notter{
    width: 10%;
    font-size: 150%;
    text-align: center;
}
/* Kontakta oss*/
.tel_mail{
    font-size:20px;
}
.thai_contact{
    font-size: 30px;
}
.map{
    float:right;
    height: 60vh;
    width: 45%;
}
.kronhus{
    height: 30vh;
    width: 50%;
    float::left;
}
/* Startsida */

section table {
    background-color:white;
    border:1px solid black;
    width:;
}
.admin{
    color:white;
}
table{
    width: auto; 
}
.section_boking{
    border: 1px solid black;
	box-sizing:border-box;
	padding: 0.5%;	
	width:100%;	
    height: 100vh;
    background-color:rosybrown;
    border-bottom: 4px solid red;
    border-left: 5px solid red;
    border-right: 5px solid red;
    background: url(bilder/thai_boking.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.boking_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.boking_container h2{
    margin: 0 0 30px; 
    padding: 0;
    color: #fff;
    text-align: center;
}
.boking_container label{
    color: #fff; 
}
.boking_container .inputbox{
    position: relative;
}
.inputbox{
    width: 60%;
}
.send{
    width: 20%;
}
.input_food {
    background-color:rosybrown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.input_food h3 {
    color:white;
    text-align:center;
    font-size: 30px;
}
.info_reservation {
    float:left;
}
.info_reservation, .admin_tr, .admin_table {
    border: 1px solid black;
    background-color: white;
}
.admin_tr, .admin_table {
    margin:0.5%;   

}
